<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p2 id="visitInfo"></p2>
</body>
<script>
    /*
    * 使用cookie实现记录用户访问次数
    * */

    const cookieVal = cookieKey => {
        let times;
        document.cookie.split('; ').some(v => {
            if (v.includes(`${cookieKey}=`)) {
                times = v.split('=')[1];
            }
        });
        return times || 0;
    };

    (() => {
        //todo 加入cookie有效期判断
        let expireDate = new Date(),
            hitCt = +cookieVal("pageHits");
        expireDate.setMonth(expireDate.getMonth() + 6);
        document.cookie = "pageHits=" + ++hitCt + ";expires=" + expireDate.toGMTString();
        document.getElementById("visitInfo").innerHTML = "You have visited this page " + hitCt + " times.";

    })();


</script>
</html>